<div id="page-wrapper" ng-class="{'open': toggle=='true'?true:false}" ng-cloak>
    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar">
            <li class="sidebar-main">
                <a ng-click="toggleSidebar()">
                    Dashboard
                    <span class="menu-icon glyphicon glyphicon-transfer"></span>
                </a>
            </li>
            <li class="sidebar-title"><span>NAVIGATION</span></li>
            <li class="sidebar-list">
                <a ui-sref="main.dashboard">Dashboard <span class="menu-icon fa fa-tachometer"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.transaction.home">Transaction <span class="menu-icon fa fa-bar-chart"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.code.home">Code <span class="menu-icon fa fa-folder-open"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.code.home">Fiscal Year <span class="menu-icon fa fa-calendar"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.user.home">User <span class="menu-icon fa fa-users"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.transReport">Trans. Report <span class="menu-icon fa fa-file-excel-o"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.codeSummary">Code Summary <span class="menu-icon fa fa-file-excel-o"></span></a>
            </li>
            <li class="sidebar-list">
                <a ui-sref="main.about">About <span class="menu-icon fa fa-book"></span></a>
            </li>
        </ul>
        <div class="sidebar-footer">
            <div class="col-xs-12">
                <a href="https://rcc.army.mil.bd/" target="_blank">
                    &copy;&nbsp;Rajshahi Cadet College 2020
                </a>
            </div>
        </div>
    </div>
    <!-- End Sidebar -->

    <div id="content-wrapper">
        <div class="page-content">

            <!-- Header Bar -->
            <div class="row header">
                <div class="col-xs-12">
                    <div class="user pull-right">
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <img src="img/avatar.jpg">
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    <span style="font-size:20px">{{userName}}</span>
                                </li>
                                <li class="divider"></li>
                                <li class="link">
                                    <a href="#">
                                        Profile
                                    </a>
                                </li>
  
                                <li class="divider"></li>
                                <li class="link">
                                    <a ng-click="logout()" onclick="return false;" href="#">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="item dropdown" uib-dropdown>
                            <a href="#" class="dropdown-toggle" uib-dropdown-toggle>
                                <i class="fa fa-bell-o"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-right">
                                <li class="dropdown-header">
                                    Notifications
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <a href="#">Server Down!</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="meta">
                        <div class="page">
                            {{pageTitle}}
                        </div>
                        <div class="breadcrumb-links">
                            Home / {{pageSubTitle}}
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Header Bar -->
            <!-- Main Content -->

            <div ui-view></div>

        </div><!-- End Page Content -->
    </div><!-- End Content Wrapper -->
</div><!-- End Page Wrapper -->