@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app" ng-controller="masterCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mainTitle}} - {{conTitle}}</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ui-view dw-loading="main" dw-loading-options="{text: 'Processing...'}"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script src="~/App/app.js"></script>
    <script src="~/App/Derectives/widget.js"></script>
    <script src="~/App/Derectives/widget-header.js"></script>
    <script src="~/App/Derectives/widget-footer.js"></script>
    <script src="~/App/Derectives/widget-body.js"></script>
    <script src="~/App/Derectives/ng-text-truncate.js"></script>
    <script src="~/App/Shared/ngService/accountService.js"></script>
    <script src="~/App/masterCtrl.js"></script>
    <script src="~/App/Shared/ngCtrl/confirmDeleteModalCtrl.js"></script>
</body>
</html>














