@{
    Layout = null;
}

<!DOCTYPE html>
<html ng-app="app" ng-controller="masterCtrl">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{mainTitle}} - {{conTitle}}</title>
    <base href="/">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div ui-view dw-loading="main" dw-loading-options="{text: 'Processing...'}"></div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
</body>
</html>














