<div class="row alerts-container padddingbottom" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <form name="adduser" role="form" novalidate>
            <rd-widget>
                <rd-widget-header icon="fa-tasks" title="Add User">
                    <div class="text-right">
                        <a ui-sref="main.user.home" class="btn btn-info">Back to List</a>
                    </div>
                </rd-widget-header>
                <rd-widget-body classes="large no-padding">
                    <div class="row" style="margin-top:10px">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : adduser.userfullname.$invalid && (adduser.userfullname.$touched || adduser.$submitted)}">
                                <label for="userfullname" class="control-label">Name*</label>
                                <input type="text" class="form-control" id="userfullname" name="userfullname" ng-model="user.UserFullName" ng-required="true" />
                                <span class="help-block" ng-show="adduser.userfullname.$error.required && (adduser.userfullname.$touched || adduser.$submitted)">Name is Required.</span>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : adduser.designation.$invalid && (adduser.designation.$touched || adduser.$submitted)}">
                                <label for="designation" class="control-label">Designation*</label>
                                <input type="text" class="form-control" id="designation" name="designation" ng-model="user.Designation" ng-required="true" />
                                <span class="help-block" ng-show="adduser.designation.$error.required && (adduser.designation.$touched || adduser.$submitted)">Designation is Required.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : adduser.username.$invalid && (adduser.username.$touched || adduser.$submitted)}">
                                <label for="username" class="control-label">Username*</label>
                                <input type="text" class="form-control" id="username" name="username" ng-model="user.Username" ng-minlength="4" ng-required="true"/>
                                <span class="help-block" ng-show="adduser.username.$error.required && (adduser.username.$touched || adduser.$submitted)">Username is Required.</span>
                                <span class="help-block" ng-show="adduser.username.$error.minlength && (adduser.username.$touched || adduser.$submitted)">Username is too short.</span>
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group" ng-class="{'has-error' : adduser.password.$invalid && (adduser.password.$touched || adduser.$submitted)}">
                                <label for="password" class="control-label">Password*</label>
                                <input type="password" class="form-control" id="password" name="password" ng-model="user.Password" ng-minlength="6" ng-required="true" />
                                <span class="help-block" ng-show="adduser.password.$error.required && (adduser.password.$touched || adduser.$submitted)">Password is Required.</span>
                                <span class="help-block" ng-show="adduser.password.$error.minlength && (adduser.password.$touched || adduser.$submitted)">Password is too short.</span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">  
                            <div class="form-group" ng-class="{'has-error' : adduser.role.$invalid && ( adduser.role.$touched || adduser.$submitted)}">
                                <label for="role" class="control-label">Role*</label>
                                <div class="input-group">
                                    <ui-select allow-clear ng-model="role.selected" theme="bootstrap" name="role" id="role" ng-required="true">
                                        <ui-select-match placeholder="---Select a Role---">{{$select.selected.name}}</ui-select-match>
                                        <ui-select-choices repeat="item in (roles | filter: $select.search) track by item.id">
                                            <span ng-bind-html="item.name | highlight: $select.search"></span>
                                        </ui-select-choices>
                                    </ui-select>
                                    <span class="input-group-btn">
                                        <button type="button" ng-click="onResetRole()" class="btn btn-default">
                                            <span class="glyphicon glyphicon-trash"></span>
                                        </button>
                                    </span>
                                </div>
                                <span class="help-block" ng-show="adduser.role.$error.required && (adduser.role.$touched || adduser.$submitted)">Role is Required.</span>
                            </div>


                            <!--<label for="password" class="control-label">Is Admin? &nbsp;</label>
                            <input type="checkbox" id="isadmin" name="isadmin" ng-model="user.IsAdmin" />-->
                        </div>
                    </div>
                </rd-widget-body>
                <rd-widget-footer>
                    <a ui-sref="main.user.home" class="btn btn-info">Back to List</a>
                    <button type="submit" class="btn btn-primary" ng-click="save(adduser)">
                        Submit
                    </button>
                </rd-widget-footer>
            </rd-widget>
        </form>
    </div>
</div>

