<div class="row alerts-container padddingbottom" data-ng-show="alerts.length">
    <div class="col-xs-12">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" close="closeAlert($index)">{{alert.msg}}</div>
    </div>
</div>
<div class="row">
    <div class="col-md-8 padddingbottom">
        <button type="button" ng-click="addNew()" class="btn btn-success">
            <span class="glyphicon glyphicon-plus"></span>
            Create
        </button>
    </div>
    <div class="col-md-4 padddingbottom">
    
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Search" ng-model="pageData.search">
                <div class="input-group-btn">
                    <button type="button" ng-click="search()" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </div>
            </div>
       
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <rd-widget>
            <rd-widget-header icon="{{isLoading?'fa-cog fa-spin':'fa-tasks'}}" title="List of Codes">
                <div class="text-right">
                    <button type="button" ng-click="reset()" class="btn btn-success">
                        <span class="glyphicon glyphicon-refresh"></span>
                        Reset
                    </button>
                </div>          
            </rd-widget-header>
            <rd-widget-body classes="large no-padding">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered text-center">
                        <thead>
                            <tr>
                                <th class="text-center" ng-click="sort('CodeNumber')">
                                    Code Number <i ng-if="pageData.sortBy=='CodeNumber'" ng-class="pageData.reverse?'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                                </th>
                                <th class="text-center" ng-click="sort('CodeName')">
                                    Code Name <i ng-if="pageData.sortBy=='CodeName'" ng-class="pageData.reverse?'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                                </th>
                                <th class="text-center" ng-click="sort('SerialNo')">
                                    Serial <i ng-if="pageData.sortBy=='SerialNo'" ng-class="pageData.reverse?'fa fa-angle-up':'fa fa-angle-down'" aria-hidden="true"></i>
                                </th>
                                <th class="text-center">Created on</th>
                                <th class="text-center" colspan="2">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in pageData.codes">
                                <td>{{ item.CodeNumber }}</td>
                                <td>{{ item.CodeName }}</td>
                                <td>{{ item.SerialNo }}</td>
                                <td>{{ item.DateCreated | date}}</td>
                                <td>
                                    <a ui-sref="main.code.update({id:item.CodeId})" class="glyphicon glyphicon-edit"></a>
                                </td>
                                <td>
                                    <a ng-click="delete(item.CodeId,item.CodeName)" onclick="return false;" href="#" class="glyphicon glyphicon-trash"></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>       
            </rd-widget-body>
            <rd-widget-footer>
                <div class="text-center">
                    <ul uib-pagination total-items="pageData.totalItems" ng-model="pageData.page" items-per-page="{{pageData.itemsPerPage}}" max-size="7" boundary-links="true" rotate="true" force-ellipses="true" ng-change="selectPage()" style="margin-top:0px"></ul>
                </div>
            </rd-widget-footer>
        </rd-widget>
    </div>
</div>
